<div class="sidebar">
    <div class="logo-container">
      <img src="assets/images/Logo.png" alt="App Logo" class="logo" />
    </div>
  
    <nav>
        <a routerLink="/trips"> Trips</a>

      <a routerLink="/local-business" routerLinkActive="active">Local Business</a>
      <a routerLink="/ai" routerLinkActive="active">AI</a>
      <a routerLink="/map" routerLinkActive="active">Map</a>
      <a routerLink="/weather" routerLinkActive="active">Weather</a>
      <a routerLink="/fact" routerLinkActive="active">Fact of the day </a>
      
    </nav>
  </div>
  